@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0}
ul{
	list-style:none;}
body{
	background-color:#eee;
	font-family:"微软雅黑";}		
#Wrap{
	width:1054px;
	margin:0 auto;
	padding-top:35px;}	
.title h1{
	font-size:48px;
	font-family:"微软雅黑";
	color:#000;
	font-weight:inherit;
	line-height:104px;
	text-align:center;
	}
.title{
	position:relative;
	margin-bottom:30px;}	
.line_left{
	border-bottom:3px #000 solid;
	width:130px;
	display:block;
	position:absolute;
	top:50%;
	left:169px;
	margin-top:-1px;}
.line_right{
	border-bottom:3px #000 solid;
	width:130px;
	display:block;
	position:absolute;
	top:50%;
	right:169px;}	
.pic{
	width:1040px;
	margin:0 auto;}	
.pic li{
	float:left;
	width:500px;
	margin-right:40px;
	position:relative;
	margin-bottom:40px;
	line-height:0;}
.pic li:nth-child(even){
	margin-right:0;
	}
.logo_mask{
	display:none;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.6);
	position:absolute; 
	top:0;
	left:0;}
.logo_mask p{
	color:#FFFFFF;
	width:410px;
	margin:0 auto;
	font-weight:bold;
	line-height:32px;
	margin-top:30px;}
.pic li:hover{
	box-shadow: 0 0 10px #888;
	}			
.pic li:hover .logo_mask{
   display:block;
	}	