@charset "utf-8";
/* CSS Document */
body {
    margin: 0;
    padding: 0;
	font-family: "微软雅黑";
	font-size:14px;
	color:#5c6466;
}

a:hover, a:focus{
	color:#2d6e80;
	text-decoration:none;
	}

input:focus {
    outline-style: none;
    }
	
/*间距 start */
.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pl10 {
    padding-left: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pb10 {
    padding-bottom: 10px;
}


.mr16 {
    margin-right: 16px;
}

.ml16 {
    margin-left: 16px;
}

.mt16 {
    margin-top: 16px;
}

.mb16 {
    margin-bottom: 16px;
}

.pr16 {
    padding-right: 16px;
}

.pl16 {
    padding-left: 16px;
}

.pt16 {
    padding-top: 16px;
}

.pb16 {
    padding-bottom: 16px;
}


.mr20 {
    margin-right: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.pr20 {
    padding-right: 20px;
}

.pl20 {
    padding-left: 20px;
}

.pt20 {
    padding-top: 20px;
}

.pb20 {
    padding-bottom: 20px;
}


.mr30 {
    margin-right: 30px;
}

.ml30 {
    margin-left: 30px;
}

.mt30 {
    margin-top: 30px;
}

.mb30 {
    margin-bottom: 30px;
}


.pr18 {
    padding-right: 18px;
}

.pl18 {
    padding-left: 18px;
}

.pt18 {
    padding-top: 18px;
}

.pb18 {
    padding-bottom: 18px;
}


.pr32 {
    padding-right: 32px;
}

.pl32 {
    padding-left: 32px;
}

.pt32 {
    padding-top: 32px;
}

.pb32 {
    padding-bottom: 32px;
}
/*间距 end */
/*字体大小 start */
.txt1 {
    font-size: 24px;
}

.txt2{
    font-size: 22px;
}

.txt3 {
    font-size: 16px;
}

.txt4 {
    font-size: 14px;
}

.txt5 {
    font-size: 12px;
}
.txt1, .txt2, .txt3, .txt4, .txt5{
margin-top:20px;
margin-bottom:10px;}
/*字体大小 end */


/********************************颜色***************************************/
.colordiv{
	
	}
/*********23add2用于突出强调文字，主要按钮，LOGO*************/
.font-blue{
	color:#23add2;}
.bg-blue{
	background-color:#23add2;}
/*********d6dfe2用于次要按钮，边框，小按钮禁用状态************/
.font-grey-silver{
	color:#d6dfe2;}
.bg-grey-silver{
	background-color:#d6dfe2;}
.border-grey-silver{
	border-color:#d6dfe2;}
/**************e9f0f2用于背景***************************/
.bg-grey-light{
	background-color:#e9f0f2;}
/**************dcdfe0用于禁用状态************************/
.bg-grey-salt{
	background-color:#dcdfe0;}
/**************2e3233用于标题***************************/
.font-dark{
	color:#2e3233;}
/**************5c6466用于正文***************************/
.font-grey{
	color:#5c6466;}
/************8a9699用于辅助文字，控件提示文字**************/
.font-grey-mint{
	color:#8a9699;}
/**************2d6e80用于高亮文字***********************/
.font-blue-sharp{
	color:#2d6e80;}
/**************表单外颜色按钮***************************/
.bg-green-seagreen{
	background-color:#1ba39c;}
.bg-green-meadow{
	background-color:#05bca3;}
.bg-blue-soft{
	background-color:#03a1b2;}
/**************表单内颜色按钮***************************/
.bg-orange{
	background-color:#fcc232;}
.border-orange{
	border-color:#fcc232;}
.bg-green{
	background-color:#43c84a;}
.bg-red{
	background-color:#ed4343;}
/**************用于表单内的状态标示**********************/
.bg-red-pink{
	background-color:#ed6b75;}
.bg-orange-dark{
	background-color:#edb16b;}
.bg-yellow{
	background-color:#f5e877;}
/**************用于表单内的状态标示*********************/
.font-white{
	color:#fff;}	
	
/********************************按钮***************************************/
.btn{
	padding:7px 15px;	
	}
.btn:hover{
	color:#23add2;
	}
.btn:active{
	box-shadow:none;
	}
.btn-font{
	font-size:20px;
	margin-left:4px;
	margin-right:4px;
	}
.btn-font:hover{
	cursor:pointer;
	color:#23add2;
	}
.btn.disabled{
	color:#fff;
	background-color:#dcdfe0;
	}
.btn.default{
	color:#5c6466;
	background-color:#d6dfe2;
	}
.btn.default:hover{
	color:#fff;
	background-color:#23add2;
	}
/****************/
.btn.blue{
	color:#fff;
	background-color:#23add2;
	}
.btn.blue:hover{
	color:#fff;
	background-color:#0d93b8;
	}
/****************/	
.btn.grey-silver{
	color:#5c6466;
	background-color:#d6dfe2;
	}
.btn.grey-silver:hover{
	color:#5c6466;
	background-color:#abc2c9;
	}
/****************/
.btn.green-seagreen{
	color:#fff;
	background-color:#1ba39c;
	}
.btn.green-seagreen:hover{
	color:#fff;
	background-color:#0a8a83;
	}
/****************/
.btn.blue-soft{
	color:#fff;
	background-color:#03a1b2;
	}
.btn.blue-soft:hover{
	color:#fff;
	background-color:#128c99;
	}
/****************/
.btn.green-meadow{
	color:#fff;
	background-color:#05bca3;
	}
.btn.green-meadow:hover{
	color:#fff;
	background-color:#05a38e;
	}
/****************/
.btn.red{
	color:#fff;
	background-color:#ed4343;
	}
.btn.red:hover{
	color:#fff;
	background-color:#d42626;
	}
/****************/
.btn.green{
	color:#fff;
	background-color:#43c84a;
	}
.btn.green:hover{
	color:#fff;
	background-color:#28ad2f;
	}
/****************/
.btn.yellow{
	color:#fff;
	background-color:#fcc232;
	}
.btn.yellow:hover{
	color:#fff;
	background-color:#f0af0c;
	}

/********************************控件***************************+++++++************/
/******************输入框***********************/	
.form-control{
	padding:8px 12px;
	height:36px;
	}
.form-control:focus{
	border-color:#23add2;
    outline: 0;
   -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
	}
.form-control::-webkit-input-placeholder{
  color: #8a9699;
}

.input-group-addon{
	padding:7px 10px;
	border:solid 1px #d6dfe2;
	font-size:20px;
	}
/******************搜索框***********************/	
.input-search{
	padding:7px 15px;
	border:none;
	font-size:14px;
	cursor:pointer;
	}
.input-search:hover{
	background-color:#23add2;
	color:#fff;
	}

/*******************分页*************************/

.pagination>li>a, .pagination>li>span{
	padding:7px 15px;
	border:solid 1px #d6dfe2;
	color:#8a9699;
	}
.pagination>li>a:hover, .pagination>li>span:hover{
	color:#23add2;
	border-color:#23add2;
	background-color:#fff;
	}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color:#23add2;
	border-color:#23add2;
	}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
	color:#d6dfe2;
	}
	
/* 默认单选&复选框 start */
.radio,
.checkbox {
    cursor: pointer;
}

input[type=checkbox].wmui.lbl:hover::before,
input[type=checkbox].wmui:hover + .lbl::before,
input[type=radio].wmui + .lbl:hover::before,
input[type=radio].wmui:hover + .lbl::before {
    border-color: #04a1b3;
}

label input[type=checkbox].wmui,
label input[type=radio].wmui {
    z-index: -100 !important;
    width: 1px !important;
    height: 1px !important;
    clip: rect(1px,1px,1px,1px);
    position: absolute;
}

input[type=checkbox].wmui + .lbl,
input[type=radio].wmui + .lbl {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '<before>\f00c</before>'+this.innerHTML);
}

input[type=checkbox].wmui + .lbl:before,
input[type=checkbox].wmui + .lbl before,
input[type=radio].wmui + .lbl:before,
input[type=radio].wmui + .lbl before {
    cursor: pointer;
    font-family: fontAwesome;
    font-weight: 400;
    font-size: 12px;
    color: #FFF;
    content: "\a0";
    background-color: #fff;
    border: 1px solid #C8C8C8;
    border-radius: 0;
    display: inline-block;
    text-align: center;
    height: 16px;
    line-height: 14px;
    min-width: 16px;
    margin-right: 10px;
    position: relative;
    top: -1px;
    *top: 2px;
}

input[type=radio].wmui + .lbl:before,
input[type=radio].wmui + .lbl before {
    border-radius: 100%;
}

input[type=radio].wmui + .lbl:before,
input[type=radio].wmui + .lbl before {
    border-radius: 100%;
    font-size: 10px;
    *font-size: 12px;
    line-height: 16px;
    height: 17px;
    min-width: 17px;
}

input[type=checkbox].wmui-checkbox-lg + .lbl:before,
input[type=checkbox].wmui-checkbox-lg + .lbl before,
input[type=radio].wmui-checkbox-lg + .lbl:before,
input[type=radio].wmui-checkbox-lg + .lbl before {
    font-size: 16px;
    height: 24px;
    line-height: 21px;
    min-width: 24px;
    top: auto;
}

input[type=checkbox].wmui:checked + .lbl:before,
input[type=radio].wmui:checked + .lbl:before {
    display: inline-block;
    content: '\f00c';
    color: #04a1b3;
    background-color: #fff;
    border-color: #04a1b3;
}

.checked input[type=checkbox].wmui + .lbl:before,
.checked input[type=checkbox].wmui + .lbl before,
.checked input[type=radio].wmui + .lbl:before,
.checked input[type=radio].wmui + .lbl before {
    display: inline-block;
    content: '\f00c';
    color: #04a1b3;
    background-color: #fff;
    border-color: #04a1b3;
}

input[type=checkbox].wmui-checkbox-2:checked + .lbl:before {
    background-color: #fff;
    border-color: #04a1b3;
    color: #04a1b3;
}

.checked input[type=checkbox].wmui-checkbox-2 + .lbl:before,
.checked input[type=checkbox].wmui-checkbox-2 + .lbl before {
    background-color: #fff;
    border-color: #04a1b3;
    color: #04a1b3;
}

input[type=checkbox].wmui.disabled + .lbl:before,
input[type=checkbox].wmui[disabled] + .lbl:before,
input[type=checkbox].wmui[disabled] + .lbl before,
input[type=radio].wmui.disabled + .lbl:before,
input[type=radio].wmui[disabled] + .lbl:before,
input[type=radio].wmui[disabled] + .lbl before {
    background-color: transparent !important;
    border-color: #dcdfe0 !important;
    box-shadow: none !important;
    color: #dcdfe0;
}

input[type=radio].wmui:checked + .lbl:before {
    content: "\f111";
}

.checked input[type=radio].wmui + .lbl:before,
.checked input[type=radio].wmui + .lbl before {
    content: "\f00c";
}
/* 默认单选&复选框 end */


/*下拉菜单 start */
.chosen-group:hover .btn {
    border-top-color: #23add2;
    border-bottom-color: #23add2;
}


.chosen-group .btn:nth-child(1) {
    padding-left: 16px;
    padding-right: 16px;
    min-width: 60px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	color:#5c6466;
}

.chosen-group .btn:nth-last-child(2) {
}

.chosen-group:hover .btn {
    border-top-color: #23add2;
    border-bottom-color: #23add2;
}

.chosen-group:hover .btn:nth-child(1) {
    border-left-color: #23add2;
}

.chosen-group:hover .btn:nth-child(2) {
    border-right-color: #23add2;
    background-color: #e9f0f2;
}

.chosen-group .dropdown-menu {
    margin-top: 0;
    box-shadow:none;
    min-width: 85px;
    width: 100%;
    max-height: 140px;
    overflow: hidden;
    overflow-y: auto;
}

.chosen-group .dropdown-menu > li > a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chosen-group .dropdown-menu > li > a:focus, .chosen-group .dropdown-menu > li > a:hover {
    background-color: #e9f0f2;
}
/*下拉菜单 end */
/* 文本域 start */
.textarea.form-control {
    height: auto;
}

.form-control::-moz-placeholder {
    color: #8a9699;
    opacity: 1;
}

.form-control:focus {
    border: 1px solid #23add2;
    box-shadow: none;
}
/* 文本域 end */


/******************表单***********************/	
.txth{
	line-height:36px;
	}
/********************表格************************/
.table-border{
	border-style:solid;
	border-width:1px;
	}
.table1>tr>th{
	line-height:52px;
	text-align:center;
	vertical-align:middle;
	}